* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f4f8;
    font-size: 12px;
    min-width: 990px;
}

.wrap {
    width: 100%;
    background: #fff;
}

a {
    text-decoration: none;
    color: black;
}

.heads {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 12px 74px;
    overflow: hidden;
    text-align: center;
    height: 54px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.heads .logo {
    float: left;
}

.heads .logo img {
    width: 160px;
    vertical-align: middle;
}

.heads .navs {
    float: right;
    ;
}

.heads .nav_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.nav_center span {
    width: 96px;
    height: 32px;
    line-height: 32px;
    border-radius: 50px;
    margin: 0 30px;
    display: inline-block;
}

.nav_center .check {
    color: #fff;
    background: #4491e9;
}

.navs {
    overflow: hidden;
}

.navs ul {
    float: left;
}

.navs ul li a {
    text-decoration: none;
    color: black;
    position: relative;
}

.navs ul li {
    list-style: none;
    display: inline;
    padding: 0 17px;
}

.navs ul li img {
    width: 20px;
    vertical-align: middle;
}
 
.navs ul li .reddot{
    width: 10px;
    position: absolute;
    left: 10px; 
    top: -3px;
}

.navs .personal {
    width: 30px;
    border-radius: 50%;
    margin-left: 34px;
    height: 30px;
}


/* 底部 */

.foots {
    background: #282828;
    width: 100%;
    height: 94px;
    box-sizing: border-box;
    color: #707070;
}

.foots>div {
    max-width: 1380px;
    min-width: 990px;
    margin: 0 auto;
}

.foots ul {
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #707070;
    line-height: 54px;
    display: block
}

.foots ul li {
    list-style: none;
    display: inline;
}

.foots ul li a {
    text-decoration: none;
    color: #707070;
}

.foots .copy {
    height: 40px;
    line-height: 40px;
}

.copy .cnzz {
    width: 50px;
    vertical-align: text-bottom;
    margin: 0 20px;
}

.copy .police {
    width: 14px;
    margin-left: 12px;
    vertical-align: text-bottom;
}


/* 分页 */

.paging {
    width: 100%;
    min-width: 990px;
    max-width: 1380px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0
}


/* .paging div {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    color: #888;
}

.paging div img {
    width: 8px;
    vertical-align: middle;
}
 
.paging .actives {
    background: #4491e9;
    color: #fff;
} */


/* 插件样式 */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.tcdPageCode {
    padding: 15px 20px;
    text-align: left;
    color: #ccc;
    text-align: center;
}

.tcdPageCode a {
    display: inline-block;
    color: #428bca;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 2px 12px;
    border: 1px solid #ddd;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}

.tcdPageCode a:hover {
    text-decoration: none;
    border: 1px solid #428bca;
}

.tcdPageCode span.current {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 2px 12px;
    margin: 0 2px;
    color: #fff;
    background-color: #428bca;
    border: 1px solid #428bca;
    border-radius: 4px;
    vertical-align: middle;
}

.tcdPageCode span.disabled {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 2px 12px;
    margin: 0 2px;
    color: #bfbfbf;
    background: #f2f2f2;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    vertical-align: middle;
}


/* 侧边栏 */

.content .left {
    width: 20%;
    float: left;
}

.content .left .top {
    text-align: center;
    padding: 36px 0 30px;
    background: #fff;
}

.content .left .top img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.content .left .top span {
    display: block;
}

.sidebar {
    background: #fff;
    padding: 10px 0;
    margin-top: 10px;
}

.sidebar ul li {
    list-style: none;
    margin: 16px 0;
    padding-left: 24px;
    border-left: 4px solid #fff;
}

.sidebar ul .active {
    border-left: 4px solid #4993e9;
    color: #4993e9;
}

.sidebar ul .navs {
  
    border-bottom: 2px solid #f3f4f8;
    width: 100%;
}
 
 