.wrap {
    overflow: hidden;
    min-width: 990px;
    max-width: 1380px;
    margin: 0 auto;
    background: #f3f4f8;
}

.content {
    min-width: 800px;
    min-height: 700px;
    margin: 0 auto;
    background: white;
    
    box-sizing: border-box;
}

[v-cloak] {
    display: none !important;
}

.lists_title {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    font-size: 16px;
    padding: 16px 40px 16px 16px;
}

.lists_title .lists_live {
    /* width: 90px; */
    /* height: 30px; */
    font-size: 12px;
    background: #4491e9;
    color: #ffffff;
    text-align: center;
    /* line-height: 30px; */
    border-radius: 50px;
    float: right;
    padding: 10px 24px;
    cursor: pointer;
}

.listdetails {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 16px 40px 16px 16px; 
    box-sizing: border-box;
}

.listdetails .listpic {
    float: left;
    width: 176px;
    height: 166px;
}

.listdetails .list_right {
    color: #888;
    float: left;
    padding: 0 16px
}

.listdetails .list_right span .time {
    width: 14px;
    margin-right: 6px;
    vertical-align: middle;
}

.listdetails span {
    display: block;
    padding: 10px 0
}

.listdetails .list_right .listtles {
    font-size: 16px;
    color: black;
}

.startlive {
    float: right;
}

.startlive span {
    font-size: 12px;
    color: #4491e9;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #4491e9;
    margin-top: 50px;
    display: inline-block;
    padding: 10px 24px;
    margin-left: 20px;
    cursor: pointer;
}

/* 分页 */

.paging {
    width: 100%;
    min-width: 990px;
    max-width: 1380px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0
}
/* 遮罩弹框 */

.success {
    width: 600px;
   
    border-radius: 4px;
    margin: 300px auto;
    background: white;
    border-radius: 8px;

}

.success .title {
    background: #4b97eb;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    color: #fff;
    font-size: 22px;
    position: relative;
}
.success .title span:nth-of-type(2){
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.success .address{
/*     text-align: center; */
    padding: 30px;
    font-size: 14px;
 /*    color: #999; */
}
.success .address span{
     display: block;
}
.success .address .reement {
    border: 1px solid #4b97eb;
    border-radius: 6px;
    color: #4b97eb;
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    padding: 12px;
}
.readagreement {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 10000;
     
}
.listdetails:hover{
    background: #f3f4f8
}