    .wrap {
        overflow: hidden;
        min-width: 990px;
        max-width: 1380px;
        margin: 20px auto;
        background: #f3f4f8;
    }

    .content {
        background-color: #f3f4f8;
        min-width: 1000px;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        min-height: 642px;
    }

    [v-cloak] {
        display: none !important;
    }

    .right .tops {
        color: #000000;
    }

    .beelected {
        width: 16px;
        height: 16px;
        background: url(../images/checked.png) no-repeat;
        float: left;
        display: inline-block;
        background-size: 100% 100%;
        margin: 20px;
    }

    .checked {
        background: url('../images/Selected.png') no-repeat;
        background-size: 100% 100%;
    }

    .video_details .beelected {
        margin: 70px 20px;
    }

    .right .tops {
        float: left;
        padding: 20px 0;
    }

    .tops .delete {
        width: 88px;
        height: 32px;
        line-height: 32px;
        border-radius: 50px;
        display: inline-block;
        text-align: center;
        border: 1px solid #4491e9;
        color: #4491e9;
        position: absolute;
        right: 40px;
        top: 12px;
        cursor: pointer;
    }

    .check_pic {
        position: relative;
        background: #fff;
        overflow: hidden;
    }

    .content .right {
        width: 78%;
        float: left;
        margin-left: 20px;
        color: #a8a8a8;
    }

    .content .right .video_details {
        width: 100%;
        background: #fff;
        overflow: hidden;
        margin-top: 2px;
        height: 200px;
    }

    .video_details .pic {
        float: left;
    }

    .video_details .pic img {
        width: 176px;
        padding: 16px;
        border-radius: 20px;
        height: 166px;
    }

    .video_details .rights {
        float: left;
        padding: 10px;
    }

    .video_details .rights>span {
        display: block;
        padding: 10px 0;
    }

    .video_details .rights>span:nth-of-type(1) {
        color: #000000;
        padding: 16px 0;
        font-size: 16px;
    }

    .video_details .rights .details {
        padding: 10px 0 16px;
    }

    .video_details .rights .details img {
        width: 14px;
        vertical-align: text-bottom;
        margin-left: 20px;
    }

    .details_title {
        width: 160px;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }

    .audit {
        float: right;
        padding: 70px 60px 70px 40px;
        color: #35cc7d;
    }

    .startlive {
        float: right;
        padding: 70px 60px 70px 40px;
        color: #4491e9;
        cursor: pointer;
    }

    .liveend {
        float: right;
        padding: 70px 60px 70px 40px;
        color: #999;
    }

    .notpass {
        float: right;
        padding: 70px 60px 70px 40px;
        color: red;
    }

    .startlive .see {
        margin-right: 20px
    }

    /* 遮罩弹框 */

    .success {
        width: 600px;
        border-radius: 4px;
        margin: 300px auto;
        background: white;
        border-radius: 8px;
    }

    .success .title {
        background: #4b97eb;
        padding: 20px;
        border-radius: 8px 8px 0 0;
        color: #fff;
        font-size: 22px;
        position: relative;
    }

    .success .title span:nth-of-type(2) {
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

    .success .address {
        /*   text-align: center; */
        padding: 30px;
        font-size: 14px;
        /*    color: #999; */
    }

    .success .address span {
        display: block;
    }

    .success .address .reement {
        border: 1px solid #4b97eb;
        border-radius: 6px;
        color: #4b97eb;
        box-sizing: border-box;
        display: block;
        word-break: break-all;
        word-wrap: break-word;
        padding: 12px;
        margin: 10px 0;
    }

    .readagreement {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10000;
    }

    /* 是否删除弹框 */

    .deletes {
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10000;
        display: none;
    }

    .whether {
        width: 300px;
        height: 100px;
        padding: 30px 0;
        border-radius: 4px;
        margin: 300px auto;
        background: white;
        border-radius: 8px;
        text-align: center;
    }

    .whether span {
        background: #fff;
        outline: none;
        padding: 6px 10px;
        border: 1px solid;
        border-radius: 4px;
        margin: 14px;
        cursor: pointer;
    }

    .or {
        margin: 0px 16px 34px 16px;
        font-size: 16px;
    }

    .video_details:hover {
        background: #f3f4f8 !important;
        border: 1px solid #d2dce8;
    }