.wrap {
    overflow: hidden;
    min-width: 990px;
    max-width: 1380px;
    margin: 0 auto;
    background: #f3f4f8;
}

.content {
    min-width: 800px;
 
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    padding-bottom: 38px;
}
[v-cloak]{
    display: none !important;
}
.content .order {
    padding: 30px 0 30px 68px;
    border-bottom: 1px solid #cccccc;
    color: #c3cedc;
    box-sizing: border-box;
}

.content .order .number {
    border: 1px solid;
    border-radius: 50%;
    width: 24px;
    display: inline-block;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: #4591e9;
    color: #fff;
}

.content .order .line {
    border-bottom: 2px solid #4591e9;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
 
.content .order  {
    color: #000000;
}

.files {
    width: 90%;
    margin: 220px auto;
    background: #f3f4f8;
    text-align: center;
    padding: 54px 0 70px 0;
    position: relative;
}

.files img {
    width: 60px;
    vertical-align: middle;
}

.files span {
    color: #99c0ef;
    display: block;
}
 .files .btns{
    width: 96px;
    height: 32px;
    line-height: 32px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    background: #4491e9;
    margin-top: 20px;
    cursor: pointer;
 }